@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Bolsa</h1>
    <p>Para invertir en la bolsa dirigete a <a href="/Operacion">Operar en bolsa</a> y conocenos mas en <a
            href="/Home/Privacy">Acerca nuestro</a>.</p>

    <img src="https://i.imgur.com/v3aVwve.jpg"
        style="max-width: 48%; height: auto; display: inline-block; margin-right: 4%;">
</div>
