@{
    ViewData["Title"] = "A cerca nuestro";
}
<h1>@ViewData["Title"]</h1>

<p>Somos una plataforma que conecta inversores con oportunidades de inversión en el mercado de valores. Nuestra misión
    es proporcionar información confiable y herramientas para tomar decisiones financieras informadas.</p>
